@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');/* CSS files add styling rules to your content */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, arial, sans-serif;
  background: black;
  width:100%:
}
h1{
  font-size: 5em;
  font-family: Roboto Slab;
  font-weight:400;
}
h2{
  font-size: 2.5em;
}
a{
  text-decoration: none;
  text-align:center;
  vertical-align:middle;
  line-height:2.3em;
  color: inherit;
  width:100%;
  height:100%;
}
p{
  font-size: 1.5em;
  font-weight:300;
}
.header {
  position: -webkit-sticky;
  position:sticky;
  top: 0px;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
}
.header:nth-child {
  flex-grow:1;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:50%;
}

.headElement {
  display:grid;
  place-items:center;
  flex-grow:1;
  transition: 0.5s;
}
.headElement:hover {
  background: #333333;
}

.pageBody {
  color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow:hidden;
}

.block{
  padding:1em 1em 20em 1em;
  width:80vw;
  display: grid;
  place-items: center;
}
#Intro{
  display:block;
}

#Different{
  width:50%;
}

#Mission>h1{
  margin-bottom: 200px;
}

#Footer>img{
  max-width:990px;
  width:100%;
  text-align:center;
}
#Footer>div{
  display:flex;
  flex-direction:row;
  padding:1em;
}
#Footer>div>a{
  display:block;
  height:3em;
  width:3em;
  background-size:contain;
}
#Footer>div>a:nth-child(1){
  background-image: url("https://cdn.glitch.com/77493cfd-6d0f-41da-b199-5d9931e8310e%2F28e67396-245f-496b-aa4a-9eddf04c2b4e.image.png?v=1601756790892");
}
#Footer>div>a:nth-child(2){
  background-image: url("https://cdn.glitch.com/77493cfd-6d0f-41da-b199-5d9931e8310e%2F70e56c1a-21bc-44a2-a0c7-78bf03bba0ce.image.png?v=1601756801928");
}
#Footer>div>a:nth-child(3){
  background-image: url("https://cdn.glitch.com/77493cfd-6d0f-41da-b199-5d9931e8310e%2F01e09894-ae38-411a-8dbd-fcdcbeeb2356.image.png?v=1601756818361");
}

img.bg{
  position:absolute;
  left:60%;
  z-index:-10;
}

.profiles{
  display:flex;
  flex-flow: row wrap;
  text-align: center;
}
.profiles>div{
  margin:2em;
  max-width:20em;
}
.reveal{
  background: #abc;
  padding:1em;
  transition: 0.5s;
  opacity:0;
}
.reveal:hover{
  opacity: 1;
}
:target::before{
  content: "hi";
  display:block;
  visibility: hidden;
  padding:5em;
}






/*computers*/
:root{
  --black: #252025ff;
  --champagne-pink: #ffe5d9ff;
  --pink: #ffcad4ff;
  --fluorescent-blue: #0ff1efff;
  --paradise-pink: #ff0066ff;
}
.computer{
  position: absolute;
  font-family:helvetica, sans-serif;
  display:flex;
}
.computer>div{
  margin:1em;
  display:grid;
  place-items:center;
}
.monitor{
  display:grid;
  place-items:center;
  background: var(--black);
  height:300px;
  width:400px;
  border-radius:50px;
}
.screen{
  display:grid;
  place-items:center;
  background:var(--champagne-pink);
  height:250px;
  width:300px;
  color:black;
  position:relative;
}
.screen>:nth-child(1){
  font-size:1.5em;
  z-index:5;
  top:0px;
  display:grid;
  place-items:center;
  background:var(--fluorescent-blue);
  height:250px;
  width:300px;
  transition: 0.5s;
}
.screen>:nth-child(1):hover{
  opacity:0;
}
.screen>:nth-child(2){
  z-index:4;
  position:absolute;
  text-align:center;
  line-height:1.5em;
  font-size:1.25em;
  padding:0.5em;
}

.screen>:nth-child(1)>div{
  font-size:0.75em;
  font-weight:500;
  background:var(--paradise-pink);
  padding:0.5em;
  border-radius:1em;
}
.feet{
  height:50px;
  width:100px;
  background:var(--black);
}
.feet>div{
  position:relative;
  top:30px;
  left:-25px;
  height:20px;
  width:150px;
  background:var(--black);
}

@media (max-aspect-ratio: 11/16) {
  body{
  }

  .pageBody{
  }
  
  h1{
    font-size:2.4em;
  }

  .headElement{
    font-size:1em;
  }

  img.bg{
    left:20%;
  }

  .header{
    top:-8em;
    flex-direction:column;
    align-items:center;
  }
  .header>div{
    width:100%;
  }
  
  .computer{
    transform:scale(0.8);  
  }
  
  #Different{
    width:80%;
    padding-bottom:2em;
    
  }
  
  #About{
    text-align:center;
    padding-bottom:2em;
  }

  .profiles{
    display:block;
    font-size:0.8em;
  }

  .profiles>div{
    margin:0px;
    max-width:30em;
  }

  .computer>div:nth-child(1){
    display:none;
  }
  .computer>div:nth-child(3){
    display:none;
  }
  
  #Team>h2{
    text-align:center;
    margin-right:-100%;
    margin-left:-100%;
  }
  #Team{
    padding-bottom: 2em;
  }
  #Footer{
    padding:0px;
    margin:0px;
  }
  #Footer>p{
    text-align:center;
  }
}
